# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

#eclipse workspace
.metadata
.project

#shop frontend
/shop-frontend/dist
/shop-frontend/tmp
/shop-frontend/out-tsc
/shop-frontend/bazel-out
/shop-frontend/node_modules
/shop-frontend/npm-debug.log
/shop-frontend/yarn-error.log
/shop-frontend/.vscode/*
/shop-frontend/!.vscode/settings.json
/shop-frontend/!.vscode/tasks.json
/shop-frontend/!.vscode/launch.json
/shop-frontend/!.vscode/extensions.json
/shop-frontend/.history/*
/shop-frontend/.angular/cache
/shop-frontend/.sass-cache/
/shop-frontend/connect.lock
/shop-frontend/coverage
/shop-frontend/libpeerconnection.log
/shop-frontend/testem.log
/shop-frontend/typings
/shop-frontend/.DS_Store
/shop-frontend/Thumbs.db

# admin frontend
/admin-frontend/dist
/admin-frontend/tmp
/admin-frontend/out-tsc
/admin-frontend/bazel-out
/admin-frontend/node_modules
/admin-frontend/npm-debug.log
/admin-frontend/yarn-error.log
/admin-frontend/.vscode/*
/admin-frontend/!.vscode/settings.json
/admin-frontend/!.vscode/tasks.json
/admin-frontend/!.vscode/launch.json
/admin-frontend/!.vscode/extensions.json
/admin-frontend/.history/*
/admin-frontend/.angular/cache
/admin-frontend/.sass-cache/
/admin-frontend/connect.lock
/admin-frontend/coverage
/admin-frontend/libpeerconnection.log
/admin-frontend/testem.log
/admin-frontend/typings
/admin-frontend/.DS_Store
/admin-frontend/Thumbs.db

# eureka service
/eureka-service/HELP.md
/eureka-service/target/
/eureka-service/!.mvn/wrapper/maven-wrapper.jar
/eureka-service/!**/src/main/**/target/
/eureka-service/!**/src/test/**/target/
/eureka-service/.apt_generated
/eureka-service/.classpath
/eureka-service/.factorypath
/eureka-service/.project
/eureka-service/.settings
/eureka-service/.springBeans
/eureka-service/.sts4-cache
/eureka-service/.idea
/eureka-service/*.iws
/eureka-service/*.iml
/eureka-service/*.ipr
/eureka-service/nbproject/private/
/eureka-service/nbbuild/
/eureka-service/dist/
/eureka-service/nbdist/
/eureka-service/.nb-gradle/
/eureka-service/build/
/eureka-service/!**/src/main/**/build/
/eureka-service/!**/src/test/**/build/
/eureka-service/.vscode/

# user service
/user-service/HELP.md
/user-service/target/
/user-service/!.mvn/wrapper/maven-wrapper.jar
/user-service/!**/src/main/**/target/
/user-service/!**/src/test/**/target/
/user-service/.apt_generated
/user-service/.classpath
/user-service/.factorypath
/user-service/.project
/user-service/.settings
/user-service/.springBeans
/user-service/.sts4-cache
/user-service/.idea
/user-service/*.iws
/user-service/*.iml
/user-service/*.ipr
/user-service/nbproject/private/
/user-service/nbbuild/
/user-service/dist/
/user-service/nbdist/
/user-service/.nb-gradle/
/user-service/build/
/user-service/!**/src/main/**/build/
/user-service/!**/src/test/**/build/
/user-service/.vscode/

# category service
/category-service/HELP.md
/category-service/target/
/category-service/!.mvn/wrapper/maven-wrapper.jar
/category-service/!**/src/main/**/target/
/category-service/!**/src/test/**/target/
/category-service/.apt_generated
/category-service/.classpath
/category-service/.factorypath
/category-service/.project
/category-service/.settings
/category-service/.springBeans
/category-service/.sts4-cache
/category-service/.idea
/category-service/*.iws
/category-service/*.iml
/category-service/*.ipr
/category-service/nbproject/private/
/category-service/nbbuild/
/category-service/dist/
/category-service/nbdist/
/category-service/.nb-gradle/
/category-service/build/
/category-service/!**/src/main/**/build/
/category-service/!**/src/test/**/build/
/category-service/.vscode/

# product service
/product-service/HELP.md
/product-service/target/
/product-service/!.mvn/wrapper/maven-wrapper.jar
/product-service/!**/src/main/**/target/
/product-service/!**/src/test/**/target/
/product-service/.apt_generated
/product-service/.classpath
/product-service/.factorypath
/product-service/.project
/product-service/.settings
/product-service/.springBeans
/product-service/.sts4-cache
/product-service/.idea
/product-service/*.iws
/product-service/*.iml
/product-service/*.ipr
/product-service/nbproject/private/
/product-service/nbbuild/
/product-service/dist/
/product-service/nbdist/
/product-service/.nb-gradle/
/product-service/build/
/product-service/!**/src/main/**/build/
/product-service/!**/src/test/**/build/
/product-service/.vscode/

# order service
/order-service/HELP.md
/order-service/target/
/order-service/!.mvn/wrapper/maven-wrapper.jar
/order-service/!**/src/main/**/target/
/order-service/!**/src/test/**/target/
/order-service/.apt_generated
/order-service/.classpath
/order-service/.factorypath
/order-service/.project
/order-service/.settings
/order-service/.springBeans
/order-service/.sts4-cache
/order-service/.idea
/order-service/*.iws
/order-service/*.iml
/order-service/*.ipr
/order-service/nbproject/private/
/order-service/nbbuild/
/order-service/dist/
/order-service/nbdist/
/order-service/.nb-gradle/
/order-service/build/
/order-service/!**/src/main/**/build/
/order-service/!**/src/test/**/build/
/order-service/.vscode/

# cart service
/cart-service/HELP.md
/cart-service/target/
/cart-service/!.mvn/wrapper/maven-wrapper.jar
/cart-service/!**/src/main/**/target/
/cart-service/!**/src/test/**/target/
/cart-service/.apt_generated
/cart-service/.classpath
/cart-service/.factorypath
/cart-service/.project
/cart-service/.settings
/cart-service/.springBeans
/cart-service/.sts4-cache
/cart-service/.idea
/cart-service/*.iws
/cart-service/*.iml
/cart-service/*.ipr
/cart-service/nbproject/private/
/cart-service/nbbuild/
/cart-service/dist/
/cart-service/nbdist/
/cart-service/.nb-gradle/
/cart-service/build/
/cart-service/!**/src/main/**/build/
/cart-service/!**/src/test/**/build/
/cart-service/.vscode/

# gateway service
/gateway-service/HELP.md
/gateway-service/target/
/gateway-service/!.mvn/wrapper/maven-wrapper.jar
/gateway-service/!**/src/main/**/target/
/gateway-service/!**/src/test/**/target/
/gateway-service/.apt_generated
/gateway-service/.classpath
/gateway-service/.factorypath
/gateway-service/.project
/gateway-service/.settings
/gateway-service/.springBeans
/gateway-service/.sts4-cache
/gateway-service/.idea
/gateway-service/*.iws
/gateway-service/*.iml
/gateway-service/*.ipr
/gateway-service/nbproject/private/
/gateway-service/nbbuild/
/gateway-service/dist/
/gateway-service/nbdist/
/gateway-service/.nb-gradle/
/gateway-service/build/
/gateway-service/!**/src/main/**/build/
/gateway-service/!**/src/test/**/build/
/gateway-service/.vscode/